@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$mont_font:  "Montserrat", sans-serif;
:root{
	--black-color:#000;
	--white-color:#fff;
	--theme-color:#004aad;
	--text-color:#555555;
	--bg-blue-color: #0060ff;
	--bg-grey-color:#f5f5f5;
	--bg-dark-color:#141d38;
	--base-font: 1rem;
}
html,body {
	font-family: $mont_font;
	background: var(--white-color);
	color: var(--black-color);
	font-size: calc(var(--base-font));
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}	
}
.main{
	padding-top: 60px;
}
header{
	background: var(--white-color);
	position: fixed;
	width: 100%;
	z-index: 999;
	.menu{
		list-style: none;
		padding-left: 0;
		text-align: right;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		li{
			display: inline-block;
			padding: 0 30px;
			a{
				padding: 18px 0;	
				display: block;
				color:var(--black-color);
				font-weight: 300;
    			text-transform: uppercase;
    			position: relative;
    			transition: all 0.3s ease;
    			&:after{
    				position: absolute;
    				content: "";
    				width: 0;
    				bottom: 2px;
    				left: 0;
    				width: 0;
    				height: 3px;
    				background: var(--theme-color);
    				transition: all 0.3s ease;
    			}
    			&:hover{
    				color: var(--theme-color);
    				&:after{
    					width: 100%;
    				}
    			}
			}
			&:last-child{
				padding: 0;
				a{
					// padding-right: 0;
				}
			}
		}
	}
}
.login-btn{
	padding: 10px 0 !important;
	width: 100px;
	background-color: var(--bg-dark-color);
	text-align: center;
	.txt{
		color: var(--white-color);
	}
	&:hover{
		&:after{
			display: none;
		}
	}
}
.logo{
	padding: 5px 0;
	img{
		height: 50px !important;
		width: auto;
	}
}
.home-slider{
	.owl-item{
		.item{
			.image{
				position: relative;
				img{
					aspect-ratio: 16/7;
					width: 100%;
					object-fit: cover;
					object-position: center;
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: rgba(0, 0, 0, 0.5);
				}
				.content{
					position: absolute;
					top: 50%;
					left:0;
					transform: translateY(-50%);
					width: 100%;
				}
			}
		}
		&.active{
			.item{
				.image{
					img{
						// transition: all 10s ease;
						// transform: scale(1.3);
					}
				}
			}
		}
	}
	
	.banner-heading{
		color: var(--white-color);
		font-size:calc(var(--base-font)*4);
		text-transform: none;
		text-align: left;
		font-weight: 600;
		line-height: 1.3;
		span{
			display: block;
			text-transform: none;
			font-size:calc(var(--base-font)*2);
			margin-bottom: 20px;
			font-weight: 400;
		}
	}
}

.section-title{
	font-size: calc(var(--base-font)*1.75);
	margin-bottom: 24px;
	font-weight: 600;
}
.title{
	color: var(--theme-color);
	font-weight: 700;
	margin-bottom: 16px;
	text-transform:uppercase;
}
.text{
	color:var(--text-color);
	font-size: calc(var(--base-font)*0.913);
	font-weight: 400;
	&.mb-24{
		margin-bottom: 24px;
	}
}
.section{
	padding: 40px 0;
	&.max{
		padding:120px 0;
	}
}

.owl-dots{
	position: absolute;
	bottom: 50px;
	text-align: center;
	display: flex;
	align-self: center;
	justify-content: center;
	gap:10px;
	width: 100%;
	.owl-dot{
		width: 32px;
		background: var(--white-color);
		height: 5px;
		&.active{
			background: var(--theme-color);
		}

	}
}
.exp-div{
	align-items: center;
	i{
		font-size:calc(var(--base-font)*3);
		color: var(--theme-color);
	}
	.info{
		padding-left: 16px;
		h3{
			color: var(--black-color);
			margin: 0 0 8px;
			font-size: calc(var(--base-font)*1.25);
		}
		p{
			margin: 0;
		}
	}
}
.about-us{
	overflow: hidden;
	.about-flash{
		position: relative;
		.about-flash-image{
			position: absolute;
			top: -80px;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			img{
				width: 100%;
				height: auto;
				animation: spin 10s linear infinite;
			}
		}
		.about-flash-info{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 99;
			width: 100%;
			text-align: center;
			img{
				width:70%;
				height: auto;
			}
		}
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.pattern-layer{
	padding: 80px 0;
	background: url('../images/pattern-2.png') no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	// background-blend-mode: multiply;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	background-color: var(--bg-dark-color);
	padding-bottom: 250px;
}
.icon{
	i{
		font-size: calc(var(--base-font)*3);
	}
}
.service-box{
	padding: 40px 20px;
	background: var(--white-color);
	border-bottom-right-radius: 20px;
	transition: all 0.6s ease;
	height: 100%;
	.icon{
		text-align: center;
	}
	.info{
		text-align: center;
		h3{
			font-size: calc(var(--base-font)*1.25);
			color: var(--theme-color);
			margin: 16px 0;
			font-weight: 600;
		}
	}
	&:hover{
		background-image: linear-gradient(to bottom, #131E39 0%, #0060ff 100%);
		i,h3,p{
			color: var(--white-color) !important;
		}

	}

}
.service-box1{
	background-color:var(--bg-grey-color);
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	padding:40px 24px;
	height: 100%;
	.inner-box{
		position: relative;
		z-index: 999;
	}
	.shape-one,.shape-two,&::after{
		content: '';
		position: absolute;
		-webkit-transition: all 600ms ease;
		-moz-transition: all 600ms ease;
		-ms-transition: all 600ms ease;
		-o-transition: all 600ms ease;
		transition: all 600ms ease;

	}
	.shape-one,.shape-two{
		width: 250px;
		height: 250px;
		background: #0060ff;
		border-radius: 50%;
		top: -120px;
		opacity: 0.4;
		right: -120px;
		transform: scale(0);
		z-index: 1;
	}
	.shape-two{
		width: 300px;
		height: 300px;
		opacity: 0.2;
		z-index: 2;
	}
	&::after{		
		bottom:0%;
		left: 0;
		width: 100%;
		height: 0;
		opacity: 0;
		background-color: var(--bg-dark-color);
		border-radius: 6px;
	}
	h3{
		font-size: calc(var(--base-font)*1.25);
    	margin: 16px 0;
	}
	.icon{
		i{
			color: var(--bg-blue-color);
		}
	}
	&:hover{
		i,h3,p{
			color: var(--white-color);
		}
		&::after{
			opacity: 1;
			height: 100%;
		}
		.shape-one,.shape-two{
			transform: scale(1);
		}
	}
	&.with-box{
		background: var(--white-color);	
	    box-shadow: 0px 0px 20px rgba(0,0,0,0.10);
	    border-radius: 0;
	    &::after{
	    	border-radius: 0;
	    }
		text-align: center;
		a,i{
			color: var(--black-color);
		}
		&:hover{
			a,i{
				color: var(--white-color);
			}
		}
	}
}
.contact-us{
	padding: 80px 0;
}
.service-section{
	.upper-container{
		background-color:var(--bg-blue-color);
		margin: 0 15px;
		border-radius: 20px;
		margin-top: -180px;
		padding:80px 0;
		padding-bottom: 200px;
		position: relative;
	}
	.icon1,.icon2,.icon3{
		position: absolute;
		animation: spin 10s linear infinite;
		z-index: 999;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.icon2{
		background: url('../images/icon/icon-2.png');
		left: 30%;
		top: 10%;
		width: 99px;
		height: 119px;
		background-repeat: no-repeat;
	}
	.icon1{
		background: url('../images/icon/icon-3.png');
		bottom: 20%;
		width: 170px;
		height: 170px;
		background-repeat: no-repeat;
	}
	.icon3{
		background: url('../images/icon/icon-3.png');
		right: 5%;
		bottom: 15%;
		width: 170px;
		height: 170px;
		background-repeat: no-repeat;
	}
	.lower-container{
		margin-top: -150px;
	}
}
.call-us-section{
	background: url('../images/pattern-3.png') no-repeat;
	background-repeat: no-repeat;
	background-position: right center;
	// background-attachment: fixed;
	padding: 80px 0;
	background-color: var(--bg-blue-color);
}
.discount-section{
	background: url('../images/discount_banner.jpg') no-repeat;
	background-repeat: no-repeat;
	background-position: top;
	background-blend-mode: multiply;
	background-attachment: fixed;
	padding: 80px 0;
	background-color: var(--bg-dark-color);
}
.theme-btn{
	position: relative;
    display: inline-block;
    font-size: calc(var(--base-font)*0.80);
    line-height: 30px;
    color: var(--white-color);
    padding: 12px 40px;
    overflow: hidden;
    border-radius: 3px;
    overflow: hidden;
    text-transform: capitalize;
    background-color: var(--theme-color);
    .txt{
    	position: relative;
    	z-index: 1;
    }

    &::before{
		position: absolute;
		content: '';
		left: 92%;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 1;
		background-color:var(--white-color);
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
		transform: skewX(-25deg);
    }
    &:hover{
    	&::before{
			left: 0%;
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
    	}
    	.txt{
    		color:var(--bg-dark-color);
    	}
    }
    &.login-btn{
		line-height: 20px !important;
		background-color: var(--bg-blue-color);
		&::before{
			background-color:var(--bg-dark-color);
		}
		.txt{
			color: var(--white-color);
		}
		&:hover{
			&:after{
				display: none;
			}
		}
	}
}
footer{
	padding: 20px 0;
	background-color:var(--bg-dark-color);
	p{
		margin: 0;
	}
}

.toggle-menu-cont {
	position: absolute;
	right: 20px;
	top: 13px;
	.toggle-menu {
		width: 36px;
		height: 36px;
		display: inline-block;
		position: relative;
		top: 0px;
		i {
			position: absolute;
			display: block;
			height: 2px;
			background: var(--theme-color);
			width: 22px;
			left: 10px;
			-webkit-transition: all .3s;
			        transition: all .3s;

			&:nth-child(1) {
				top:8px;
			}

			&:nth-child(2) {
				top: 16px;
			}

			&:nth-child(3) {
				top: 24px;
			}
		}

		&.open-menu{
			i {
				&:nth-child(1) {
					top: 20px;
					-webkit-transform: rotateZ(45deg);
					        transform: rotateZ(45deg);
				}

				&:nth-child(2) {
					background: transparent;
				}

				&:nth-child(3) {
					top: 20px;
					-webkit-transform: rotateZ(-45deg);
					        transform: rotateZ(-45deg);
				}
			}
		}
	}
}
.how-we-work{

}
.step-item{
	text-align: center;
	padding: 20px;
	position: relative;
	margin-bottom: 30px;

	.step-circle {
	    width: 70px;
	    height: 70px;
	    border: 1px solid var(--theme-color);
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    margin: 0 auto 20px;
	    position: relative;
	    z-index: 1;
	    position: relative;
	    -webkit-transition: all 600ms ease;
		-moz-transition: all 600ms ease;
		-ms-transition: all 600ms ease;
		-o-transition: all 600ms ease;
		transition: all 600ms ease;
	    span{
	    	position: relative;
	    	z-index: 2;
	    }

	   
	}
	h3{
		font-size: calc(var(--base-font)*1.25);
		margin: 16px 0;
		color: var(--theme-color);
	}
	&:hover{
		.step-circle{
			background: var(--theme-color);
			color: var(--white-color);
			transform: scale(1.25);
			span{
				font-weight: 600;
			}
		}
	}

}
.technology-section{
	padding: 80px 0;
    background: url(../images/pattern-2.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--bg-dark-color);
}
.tech-row{
	display: flex;
	align-items: center;
	gap: 20px;
	> div{
		flex:0 0 33.33%;
		max-width: 33%;
	}
	&.rh1{
		padding-left: 150px;
	}
	&.rh2{
		padding-right: 150px;
	}
}
.tech-box{
	padding:40px 20px;
	min-height: 180px;
	text-align: center;
	border: 1px dashed var(--white-color);
	transition: all 600ms ease;
	cursor: pointer;
	border-radius: 4px;
	a{
		display: block;
	}
	.icon{
		text-align: center;
		transition: all 600ms ease;
		i{
			color: var(--white-color);
			font-size: calc(var(--base-font)*2.75);
		}
	}
	h4{
		margin:16px 0 0 0;
		color: var(--white-color);
		font-size: var(--base-font);
		text-transform: uppercase;
		transition: all 600ms ease;

	}
	&:hover{
		background: var(--white-color);
		.icon{
			 transform: scaleX(-1);
			i{
				color: var(--bg-dark-color);
			}
		}
		h4{
			color: var(--bg-dark-color);
		}
	}
}
.project-box{
	.image{
		position: relative;
		cursor: pointer;
		img{
			aspect-ratio: 16/7;
			object-fit: cover;
			object-position: center;
			width: 100%;
		}
		.info{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			height: 100%;
			padding: 20px;
			display: flex;
			align-items: flex-end;
			width: 100%;
			background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #1C2C52 100%);
			
			transition: -webkit-transform 0.4s ease;
			transition: transform 0.4s ease;
			transition: transform 0.4s ease, -webkit-transform 0.4s ease;
			-webkit-transform: scale(0, 1);
			-ms-transform: scale(0, 1);
			transform: scale(0, 1);
			-webkit-transform-origin: right center;
			-ms-transform-origin: right center;
			transform-origin: right center;
			color: var(--white-color);
			h3{
				font-size: calc(var(--base-font)*1.25);
			}
			p{
				font-size: calc(var(--base-font)*0.813);
			}
		}
		.arrow-icon{
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--bg-dark-color);
			transition: all 0.4s ease;
			z-index: 99;
			i{
				color: var(--white-color);
				font-size: calc(var(--base-font)*1.50);
			}
		}
	}
	&:hover{
		.image{
			.info{
				-webkit-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				transform: scale(1, 1);
				-webkit-transform-origin: left center;
				-ms-transform-origin: left center;
				transform-origin: left center;
			}
			.arrow-icon{
				top: 0;
				background: var(--white-color);
				i{
					color: var(--bg-dark-color) !important;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.mob-mt-20{
		margin-top: 20px;
	}
	.mob-pt-0{
		padding-top: 0;
	}
	header{
		.menu{
			display: none;
			li{
				display: block;
				a{
					padding:8px 0;	
					text-align: center;
					&:after{
	    				display: none;
	    			}
				}
			}
		}
	}
	.mob-mb-20{
		margin-bottom: 20px;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.feature-box{
		margin-bottom: 20px;
		.d-flex{
			flex-direction: column;
		}
		.icon{
			i{
				font-size: calc(var(--base-font)*3);
			}
		}
	}

	.home-slider{
		.banner-heading{
			font-size:calc(var(--base-font)*1.50);
			span{
				font-size:calc(var(--base-font)*1.025);
				
			}
		}
		.owl-item{
			.item{
				.image{
					img{
						aspect-ratio: 16/10;
					}
				}
			}
		}
	}
	.tech-row{
		flex-direction: column;
		> div{
			width: 100%;
			max-width: 100%;
		}
		&.rh1{
			padding-left: 0;
		}
		&.rh2{
			padding-right: 0;
		}
	}
	.section{
		&.max{
			padding: 60px 0;
		}
	}
	.section-title {
	    font-size: calc(var(--base-font)*1.50);
	    margin-bottom: 20px;
	}
	.about-us{
		.about-flash{
			margin-top: 50px;
			.about-flash-image{
				position: inherit;
				top: 0;
				
			}
			.about-flash-info{
				top: 10%;
				img{
					width:75%;
					height: auto;
				}
			}
		}
	}
	.owl-dots{
		bottom: 16px;
	}

	.project-box{
		.image{
			.info{
				transform: scale(1, 1);
			}
			img{
				aspect-ratio: 16/10;
			}
		}
	}
	.lower-container,.contact-us{
		.row{
			.col-md-4{
				&:nth-child(even){
					.service-box1{
						i,h3,p{
							color: var(--white-color);
						}
						&::after{
							opacity: 1;
							height: 100%;
						}
						.shape-one,.shape-two{
							transform: scale(1);
						}
						&.with-box{
							
							a,i{
								color: var(--white-color);
							}
							
						}
					}
				}
				&:nth-child(odd){
					.service-box1{
						i,h3,p{
							color: var(--black-color);
						}
						&::after{
							opacity: 0;
							background: none;
						}
						.shape-one,.shape-two{
							transform: scale(1);
						}
						&.with-box{
							
							a,i{
								color: var(--black-color);
							}
							
						}
					}
				}
			}
		}
	}
	.how-we-work{
		.row{
			.col-md-3{
				&:nth-child(even){
					.step-item{
						.step-circle{
							background: var(--theme-color);
							color: var(--white-color);
							transform: scale(1.25);
							span{
								font-weight: 600;
							}
						}
					}
				}
			}
		}
	}
	.login-btn{
		margin: auto;
	}

}