.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73dfa1 10%, #224abea3 100%);
  background-size: cover; }

.name {
  color: #000; }

.sidebar-menu-area {
  height: calc(100vh - 100px); }

a.no-dec {
  display: block;
  height: 100%; }

input[type="radio"], input[type="checkbox"] {
  appearance: auto;
  -webkit-appearance: radio;
  -moz-appearance: radio; }

.table-div {
  width: 100%;
  display: table; }
  .table-div > div {
    display: table-cell;
    vertical-align: middle; }

.modal-header .row {
  width: 100%; }

.form-group {
  margin-bottom: 16px !important; }

.modal-title {
  font-size: 18px !important; }

.p-4 {
  padding: 1.5rem !important; }

.no-dec:hover {
  text-decoration: none; }

.btn {
  font-weight: 300 !important; }

.n_paid {
  background-color: #ff000038; }

.paid {
  background-color: #10c21052; }

.f_paid {
  background: transparent; }

.close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 16px; }
  .close span {
    font-size: 30px; }

span.error-msg {
  font-size: 12px;
  color: #f00; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.login-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login-box .card {
    width: 800px; }

button.btn {
  width: 100px; }

.ui-widget-content .ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.ui-widget-header .ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.ui-button .ui-icon {
  background-image: url("../img/arrow-down-sign-to-navigate.png"); }

.form-control {
  padding: 10px 12px !important;
  height: auto; }

label.error {
  font-size: 12px !important;
  color: red;
  font-weight: normal; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #337ab7;
  border-radius: 0; }

.nav li a i {
  margin-right: 8px;
  width: 20px; }

.box {
  background: #d3d3d35c;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-height: 202px; }
  .box h4 {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4e73df;
    font-size: 24px;
    color: #fff; }
  .box span {
    word-wrap: break-word;
    font-size: 16px;
    font-weight: bold; }

.tag {
  font-size: 18px !important; }

.input-group-append {
  position: absolute;
  height: 42px; }
  .input-group-append button {
    height: 42px !important; }

tr.not_checkout {
  background-color: #e08080 !important; }

.t-danger td {
  background-color: #f045586b !important;
  color: #000 !important; }

.t-warning td {
  background-color: #FFC107 !important;
  color: #000 !important; }

td {
  font-size: 14px !important; }

td.active.day {
  color: #fff !important; }

.btn-sm {
  font-size: 14px !important;
  padding: 6px 12px !important; }

.radius-8 {
  border-radius: 4px !important; }

.ov-x {
  overflow-x: scroll; }

td {
  color: #000 !important; }

.t-info td {
  background-color: #9FCC2E !important;
  color: #000 !important; }

.gj-datepicker-bootstrap {
  width: 85%; }

.mt-2 {
  margin-top: 10px; }

.mb-2 {
  margin-bottom: 10px; }

.mt-3 {
  margin-top: 15px; }

.mb-3 {
  margin-bottom: 15px; }

.collapse-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none; }

.nav-link {
  position: relative; }
  .nav-link .ab {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg); }
  .nav-link.collapsed .ab {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0); }

.collapse a {
  text-decoration: none !important; }
  .collapse a:hover {
    background-color: #eee; }
.collapse li.active {
  background-color: #eee; }

.up-file {
  padding-top: 100px;
  text-align: center; }

input[type="file"] {
  margin: auto;
  padding: 5px 10px;
  border: 2px dashed #99c793;
  background-color: #fff;
  transition: border-color .25s ease-in-out; }
  input[type="file"]::file-selector-button {
    padding: 1em 1.5em;
    border-width: 0;
    border-radius: 2em;
    background-color: #99c793;
    color: #fff;
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin-right: 1em; }

.hi-auto {
  min-height: auto !important; }

/*# sourceMappingURL=custom.css.map */
